body {
    background-color: beige;
    background-image: linear-gradient(to left, yellow, orange, red, violet, indigo,blue, green) !important;   
}

.preamble h3{
    display: none;
    /* opacity: 0; */
}

h2,
h3,
h4 {
    color: black;
    /* background-color: red; */
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: overline;
    /* background-image: linear-gradient(to left, violet, indigo,blue, green, yellow, orange, red);    */
    
}
h2:hover {
    background-color: blueviolet;
    border: 1px solid green;
}

@media screen and (min-width: 1080px) and (max-width: 1600px){
    body { width: 100%;
        background-color: aqua;

    }
}